/* variable */
:root{
    --main-color:#10cab7;
    --secondre-color:#2c4755;
    --section-padding:60px;
    --section-backgrund:#f6f6f6;
    --thr-color:#777;
    --th1--color:#333;
}
/* start global roles */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/* End global roles */

/* start global comonents */
.special-heading{
    text-align: center;
    margin: 0;
    font-weight: 800;
    font-size: 100px;
    color: #ebeced;
    letter-spacing: -3px;
}
/* End global comonents */
/* @mediaquarey */
/* small */
@media (min-width: 768px)
{
    .container{
        width: 750px;
    }
}
@media (max-width: 768px)
{
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}

/* medium */

@media (min-width: 992px)
{
    .container{
        width: 970px;
    }
}

/* large */

@media (min-width: 1200px)
{
    .container{
        width: 1170px;
    }
}


/* header section */
.header{
    
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}
.header .logo{
    width: 60px;
}
.header .links .icon{
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end; 
  
}
.header .links{
    position: relative;
}
.header .links .icon:hover span:nth-child(2){
    width: 100%;
}
.header .links .icon span{
    background-color:var(--th1--color);
    margin-bottom: 5px;
    height: 2px;
       
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    position: absolute;
    list-style: none;
    margin-left: -152px;
    padding: 0px;
    background-color: rgb(246, 246, 246);
    min-width: 180px;
    top:100%;
    display: none;
    border-radius: 10px;
    z-index: 1;

}

.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent ;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header ul li a{
    display: block;
    text-decoration: none;
    color: var(--th1--color);
    padding: 15px;
    transition: 0.3s;
}
.header ul li a:hover{
    margin-left: 10px;
}
.header .links:hover ul {
    display: block;
}

/* landing */
.landing{
    background-image: url(../imag/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    padding: 10px;
    
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50% ) ;
    text-align: center;
    width: 320px;
    max-width: 100%;
    
}
.landing .intro-text .titel{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: var(--main-color) ;
    text-transform: capitalize;
}
.landing .intro-text .prag{
    line-height: 1.8;
    font-size: 20px;
}

/* start feature */
.feature{
    background-color: var(--section-backgrund);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.feature .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: auto;
}
.feature .feat  {
    text-align: center;
}
.feature .feat i{
    color: var(--main-color);
}
.feature .feat h3{
    font-weight: 800;
    margin: 30px 0;
    font-size: 23px;
}
.feature .feat p{
    line-height: 1.8;
    font-size: 18px;
    color: var(--thr-color);
}
/* End feature */

/* start services */
.services .container{
    margin: auto;
    height: 625px;
}
.container p{
   text-align: center;
    margin: -15px 0 0;
    font-size: 20px;
    color: #797979;
    letter-spacing: 1px;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .ser i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .ser .text{
    flex: 1;
}

.services .services-content .ser .text h3{
    margin: 0 0 20px;
}
.services .services-content .ser .text .p, .p1{
    color: var(--th1--color);
    font-weight: 300;
    line-height: 1.6;
    /* font-size: 20px; */
}
.services .services-content .ser{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px)
{
    .services .services-content .ser{
       flex-direction: column;
        text-align: center;
    }
    .services .services-content .ser .text{
        margin: auto;
    }
    .services .container{
        height: 100%;
    }
}
@media (max-width: 767px)
{
    .services .services-content .ser p{
       width: 50px;
    }
}
.services .services-content .imag{
    text-align: center;
    position: relative;
}
.services .services-content .imag img{
    width: 260px;
}
.services .services-content .imag::before{
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondre-color);
    top: -50px;
    right: 0;
    z-index: -1;

}
@media (max-width: 1199px){
    .imag-colume{
        display: none;
    }
}
/* End services */

/* start portfolio */
.portfolio .container h2{
    text-align: center;
    margin: 0;
    font-weight: 800;
    font-size: 100px;
    color: #ebeced;
    letter-spacing: -3px;
    
}
.portfolio .container{
    margin: auto;
}
.portfolio{
     background-color: var(--section-backgrund);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img{
    width: 100%;
}

.portfolio .portfolio-content .card .info h3{
   margin: 0;
    
}
.portfolio .portfolio-content .card .info {
   padding: 20px;
     
 }
.portfolio .portfolio-content .card .info .p{
    line-height: 1.6;
    margin-top: 10px;
    color: var(--thr-color);
}

@media (max-width: 767px)
{
    .portfolio .portfolio-content .card{
      text-align: center;
    }
    .portfolio .container h2{
        margin-top: 290px;
    }
    .portfolio .container p{
        margin: 3px 0 0;
    }
    .portfolio .container .special-heading{
        font-size: 60px;
    }
    .portfolio .container{
        margin-top: -316px;
    }
}
/* End portfolio */

/* start about */
.about .container{
    margin: auto;
}
.about .about-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
    grid-gap: 50px;
    margin-top: 100px;
}
.about .about-content .imag{
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .imag::before{
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    z-index: -1;
    top: -40px;
    left: -20px;
}
.about .about-content .imag::after{
    content: "";
    position: absolute;
    width: 120px;
    height:300px;
    border-bottom: 80px solid var(--main-color);
    border-left: 80px solid var(--main-color);
    z-index: -1;
    top: -40px;
    right:-150px ;
}
.about .about-content .imag img{
    max-width: 100%;
}
.about .about-doc {
    flex-basis: calc(100% - 500px);

}
.about .about-doc p{
    line-height: 1.6;
    margin: 20px 0 20px 0;
}
.about .about-doc hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-doc p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    color: black;
    font-size: 15px;
}
.about .about-doc p:last-of-type{
    line-height: 2;
    color: var(--thr-color);
    font-size: 15px;
}
@media (max-width: 767px){
    .about .about-content .imag::after{
        display: none;
    }
    .about .about-content .imag::before{
        display: none;
    }
    .about .about-content .imag {
        margin: auto;
    }
    .about .about-content .about-doc {
        margin: auto;
    }
}
/* end about */
/* dtart contact */
.contact{
    background-color: var(--section-backgrund);
}
.contact .container{
    margin: auto;
}
.contact .container p{
    color: #797979;
}
.contact .special-heading{
    margin-top: 100px;
    padding: 91px 0px 0px 0;
}
.contact .content-section{
    margin-top: 100px;
}
.contact .content-section  p:first-child{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondre-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .content-section a{
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
}
.contact .content-section .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}
.contact .social i{
    margin-left: 10px;
    color: var(--secondre-color);
}
@media (max-width: 767px){
    .contact .content-section  p:first-child{
        font-size: 27px;
    }
    .contact .content-section a{
        font-size: 27px;
    }
    .contact .content-section .social {
        font-size: 13px;
    }
}
/* end contact */
/* start reservied */
.reservied{
    background-color: var(--secondre-color);
    
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 50px;
}
.reservied .container{
    margin: auto;

}
.reservied .container .titel span{
    color: var(--main-color);
    font-weight: bold;
}


/* end reservied */